@import '@/styles/_variables.scss';

.videoResponsive {
  overflow: hidden;
  // padding-bottom: 56.25%;
  position: relative;
  // height: 0;
  max-height: $max-width / 16 * 9;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-width: $max-width;
  margin: 0 auto;

  & iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: $max-width;
    max-height: $max-width / 16 * 9;
    aspect-ratio: 16 / 9;
    position: absolute;
  }
}