@import '@/styles/_variables.scss';

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  gap: 1em;
}

.gridItem {
  max-width: $max-width / 4;
  width: 100%;
  height: auto;
}