@import "@/styles/_variables.scss";

$background: $black;

.nav {
  width: 100%;
  max-width: calc($max-width + 6rem);
  height: 7rem;
  padding: 3rem 3rem;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  background-color: $background;
  color: $light;
  // color: $text-primary;
}

.navOuter {
  position: relative;
  background-color: $background;
}

.brand {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }

  & h1 {
    margin: 0;
  }
}

.navMenu {
  margin-left: auto;
  font-size: 1.25rem;

  ul {
    display: flex;
    padding: 0;
    align-items: center;
  }

  li {
    list-style-type: none;
    margin: 0 1rem;

    a {
      text-decoration: none;
      display: block;
      width: 100%;

      &.active {
        text-decoration: underline;
      }

      &:not(.active) {
        opacity: 0.75;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.hamburger {
  border: 0;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 4rem;
  display: none;
  // top: 28.5%;

  & svg {
    color: $text-primary;
  }
}

@media screen and (max-width: $breakpoint) {

  .brand {
    margin-right: 6rem;
    // font-size: 1.85rem;
  }

  .navMenu {
    & ul {
      position: absolute;
      margin-top: 7rem;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: calc(100svh - 7rem);
      background-color: $red;
      color: $text-secondary;
      z-index: 9999;
      transform: translateX(-100%);
    }

    & li {
      text-align: center;
      margin: 0;
      width: 100%;

      & a {
        width: 100%;
        padding: 1.5rem 0;

        &:hover {
          background-color: rgba($primary, 0.5);
          color: $text-primary;
        }
      }
    }
  }

  .hamburger {
    display: flex;
    align-items: center;
  }

  .expanded {
    & ul {
      transform: translateX(0%);
    }
  }
}


.wave {
  // position: absolute;
  // bottom: -2rem;
  // left: 0;
  // right: 0;
  height: 2rem;
  width: 100%;
  overflow: hidden;
  background-color: $blue;
}

.waveSvg {
  // position: absolute;
  // left: 0;
  fill: $green;
  width: 100%;
}

// .waveDivider {
//   position: relative;
//   width: 100%;
//   height: 50px;
//   overflow: hidden;
// }

// .wave {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-image: linear-gradient(to right, #abcdef 0%, #ffffff 100%);
//   transform-origin: bottom;
// }

// .oldbox {
//   --mask:
//     radial-gradient(60px at 20% 30%, transparent 99%, #000 100%),
//     radial-gradient(70px at 50% 70%, transparent 99%, #000 100%),
//     radial-gradient(80px at 80% 20%, transparent 99%, #000 100%);
//   -webkit-mask: var(--mask);
//   mask: var(--mask);
//   height: 150px;
//   /* Adjust the height of the wave/curve */
// }

// .box {
//   position: relative;
//   background-color: #f0f0f0;
//   /* Add your desired background color */
//   height: 200px;
//   /* Adjust the height of the wave/curve */
// }

// .box::before {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   // background: radial-gradient(ellipse at center, transparent 0%, transparent 55%, #000 60%);
//   background: radial-gradient(60px at 20% 30%, transparent 99%, #000 100%),
//     radial-gradient(70px at 50% 70%, transparent 99%, #000 100%),
//     radial-gradient(80px at 80% 20%, transparent 99%, #000 100%);
//   transform-origin: center bottom;
//   transform: scaleY(0.6);
//   /* Adjust this value to control the wave height */
// }