@import "@/styles/_variables.scss";

.nav {
  width: 100%;
  max-width: calc($max-width + 6rem);
  height: 7rem;
  padding: 3rem 3rem;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  background-color: $nav-background;
  color: $light;
  // color: $text-primary;
}

.navOuter {
  position: relative;
  background-color: $nav-background;
}

.brand {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }

  & h1 {
    margin: 0;
  }
}

.brandLogo {
  padding-top: 0.25rem;
  margin-right: 1rem;
  height: 40px;
  width: auto;
}

.navMenu {
  margin-left: auto;
  font-size: 1.25rem;

  ul {
    display: flex;
    padding: 0;
    align-items: center;
  }

  li {
    list-style-type: none;
    margin: 0 1rem;

    a {
      text-decoration: none;
      display: block;
      width: 100%;

      &.active {
        text-decoration: underline;
      }

      &:not(.active) {
        opacity: 0.75;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.hamburger {
  border: 0;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 4rem;
  display: none;
  // top: 28.5%;

  & svg {
    color: $text-primary;
  }
}

@media screen and (max-width: $breakpoint) {
  .brand {
    margin-left: -1rem;
    margin-right: 6rem;
    font-size: 1.5rem;
  }

  .brandLogo {
    height: 30px;
  }

  .navMenu {
    & ul {
      position: absolute;
      margin-top: 7rem;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: calc(100svh - 7rem);
      background-color: $red;
      color: $text-secondary;
      z-index: 9999;
      transform: translateX(-100%);
    }

    & li {
      text-align: center;
      margin: 0;
      width: 100%;

      & a {
        width: 100%;
        padding: 1.5rem 0;

        &:hover {
          background-color: rgba($primary, 0.5);
          color: $text-primary;
        }
      }
    }
  }

  .hamburger {
    display: flex;
    align-items: center;
  }

  .expanded {
    & ul {
      transform: translateX(0%);
    }
  }
}

// wavy divider

.waveFlex {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  bottom: -2rem;
  z-index: 999999;
  left: 0;
  right: 0;
  height: 2rem;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  transform: scaleY(0.3);
  transform-origin: top center;
}

.svgWrapper {
  min-width: 1280px;
  max-width: 1280px;
  width: 1280px;
}

.waveSvg {
  fill: $nav-background;
}
