$light: #EFEFEF;
$dark: #273043;
$red: #e25254;
$green: #1B998B;
$blue: #118AB2;
$black: #161111;


$primary: $light;
$secondary: $red;

$text-primary: $dark;
$text-secondary: $light;

$nav-background: $black;

$max-width: 1400px;
$max-content: $max-width / 2;
$breakpoint: 768px;

