$light: #EFEFEF;
$dark: #273043;
$red: #FF6668;
$green: #1B998B;
$blue: #118AB2;


$primary: $light;
$secondary: $green;

$text-primary: $dark;
$text-secondary: $light;

$max-width: 1400px;
$max-content: $max-width / 2;
$breakpoint: 768px;

